$white: #fff;
$black: #000;
$dark: #161111;
$grayf14: #ffffff14;
$gray214: #bdadad;
$error: #e74545;
$shadow-blue: #223c5033;
$green: #10bd00;
$yellow: #fe0;
$red: #f00;
$main-color: #e2ce1a;
$cream: #fefaa1;
$dark: #36320a;
$dark-hover: #5a5624;
$dark-active: #292605;
